@headerHeight: 45px;

.dangosky-pull-refresh-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  .dangosky-common {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #8f959e;
    img {
      margin-right: 4px;
      width: 16px;
      height: 16px;
    }
  }
  .dangosky-header {
    .dangosky-common;
    height: @headerHeight;
    position: absolute;
    width: 100%;
  }
  &.status-init {
    .dangosky-body {
      transition: transform 0.5s;
    }
  }
  &.status-refreshed,
  &.status-refreshing {
    .dangosky-body {
      // 因为 header 是绝对定位，所以还需要腾出空间来展示 header
      transform: translateY(@headerHeight); 
      transition: transform 0.5s;
    }
  }
  // 使用 css 画箭头
  &.status-pull-to-refresh,
  &.status-loosen-refresh {
    i {
      display: inline-block;
      position: relative;
      height: 16px;
      border-left: 1px solid;
      margin-right: 8px;
      transition: transform 0.3s ease;
      &:before,
      &:after {
        content: "";
        position: absolute;
        font-size: 0.5em;
        width: 1em;
        bottom: 0px;
        border-top: 1px solid;
      }
      &:before {
        right: 1px;
        transform: rotate(50deg);
        transform-origin: right;
      }
      &:after {
        left: 0px;
        transform: rotate(-50deg);
        transform-origin: left;
      }
    }
  }
  &.status-loosen-refresh {
    i {
      transform: rotate(180deg);
    }
  }
  .dangosky-footer {
    .dangosky-common;
    margin-top: 20px;
  }
  .icon-loading {
    animation: icon-rotate 1s infinite normal linear;
  }
}

@keyframes icon-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate((360deg));
  }
}
