.dangosky-pull-refresh-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  .dangosky-common {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #8f959e;
    img {
      margin-right: 4px;
      width: 16px;
      height: 16px;
    }
  }
  .dangosky-header {
    height: 45px;
    border-bottom: 1px solid #eee;
    .dangosky-common;
  }
  &.status-init {
    .dangosky-header {
      height: 0;
      transition: height .5s;
    }
  }
  // touchEnd 时开始刷新，body 缓动回页面上方
  &.status-refreshing {
    .dangosky-body {
      transform: translateY(45px) !important;
      transition: transform 0.5s;
    }
    .dangosky-header {
      position: absolute;
      height: 45px;
      width: 100%;
    }
  }
  .dangosky-footer {
    .dangosky-common;
    margin-top: 20px;
    .icon-loading {
      animation: icon-rotate 1s infinite normal linear;
    }
  }
}

@keyframes icon-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate((360deg));
  }
}
